@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-rubik);
}


html{
  scroll-behavior: smooth;

}

  
.logo-span{
  font-family: var(--font-satisfy );
}

.nav-link{
  @apply  flex-1 hover:border-white text-sm md:text-base   hover:border-b-[3px] border-cyan-400  transform duration-100 ease-linear
}

.home-section{
  @apply bg-slate-800 text-white h-[85vh]  items-center flex
}

.home-section:nth-child(3){
  @apply bg-[#E5E7EB] text-black h-[85vh] items-center flex 
}
.home-section:nth-child(3) .switch{
 @apply flex-row-reverse
}
.home-section:nth-child(4) .coll{
 @apply  py-10
}

/* .switch:nth-child(2){
  
  
} */

