@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-rubik);
}


html{
  scroll-behavior: smooth;

}

  
.logo-span{
  font-family: var(--font-satisfy );
}

.nav-link{
  @apply  flex-1 hover:border-white text-sm md:text-base   hover:border-b-[3px] border-cyan-400  transform duration-100 ease-linear
}

.home-section{
  @apply odd:bg-[#E5E7EB] odd:text-black bg-slate-800 text-white h-[100vh] sm:h-[85vh]  items-center flex
}


.home-section:nth-child(3) {
 @apply flex-row-reverse
}
.home-section:nth-child(4) .coll{
 @apply  py-10
}


.member:nth-child(even){
  align-self: end;
  flex-direction: row-reverse;
}
.member:nth-child(even) {
  flex-direction: row-reverse;
}

.member:hover {
    box-shadow: 0 0 5px #22D3EE,
              0 0 20px #22D3EE,
              0 0 50px #22D3EE,
              0 0 100px #22D3EE;
}

.member img{
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.member img{
  filter: grayscale(200);
}
.member:hover img{
  filter: grayscale(0);
}
.member-link:hover {
    text-shadow: 0 0 5px #22D3EE,
              0 0 20px #22D3EE,
              0 0 50px #22D3EE,
              0 0 100px #22D3EE;
}

.user-stats{
  animation: scroll-left 20s linear infinite;
}

.green{
  background-color: green;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%); /* Start from the right edge */
  }
  100% {
    transform: translateX(-100%); /* End at the left edge */
  }
}

.page-style{
  @apply bg-slate-700 text-white min-h-[100vh] mt-[-3rem] pt-[6.5rem]  sm:pt-[9%] z-10
}


